<%- include("header") -%>

<div class="about">

    <h2 class="about">This is the about page</h2>

<ul>
    <li>This website is made by Saumya.</li>
    <li>Its a TODOLIST website where one can keep track of the daily activity to be performed in various field.</li>
    <li>One can also make customized section for all categories of daily activites .</li>
    <li>Once activity is being performed.User can easily delete item from their list.</li>
    <li>Made using HTML,CSS and JAVASCRIPT as front-end.</li>
    <li>It uses Node js and MongoDB as Back-end and databases.</li>
</ul>

</div>











<%- include("footer") -%>
